<div class="card-columns margen">
    <div class="card">
        <img src="assets/img/asinfo-18.jpg" class="card-img-top black" alt="...">
        <div class="card-body">
            <h3 class="card-title">Asinfo en el mundo</h3>
            <br>
            <p class="card-text">Asinfo, tiene su casa matriz en Quito y gracias a su experiencia y calidad ha logrado llegar a nivel internacional a Colombia, España y próximamente a Bolivia. <br> <br> oficina matriz, cuenta con modernas e innovadoras instalaciones, destinadas
                a la investigación, desarrollo e implementación de tecnologías, el cual brinda un entorno que facilita la creatividad y el buen desempeño de nuestros colaboradores. <br> <br> Gracias a los espacios lúdicos con los que cuenta Asinfo, hemos
                logrado generar un mejor ambiente de trabajo y así potenciar el rendimiento tanto profesional como personal.</p>
        </div>
    </div>


</div>