<h2>CARRITO</h2>
<div>
    <mat-horizontal-stepper [linear]="!isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel> Detalle de su pago </ng-template>
                <div id=general>
                    <table mat-table [dataSource]="facturas">
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let facturas">{{facturas.id}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let facturas">{{facturas.name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Valor">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let facturas">{{facturas.valor}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let facturas; columns:columnsToDisplay"></tr>
                    </table>
                </div>
                <div id=boton>
                    <button mat-raised-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>

        <mat-step>
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Resumen de pago</ng-template>
                <div id=resumen_pago>
                    <mat-card>
                        <mat-card-title>
                            <h1 id=cabecera>RESUMEN DE PAGO </h1>
                        </mat-card-title>
                        <mat-card-content>
                            <table id=resumen>
                                <tr>
                                    <td><h2 id=subtitulo>Subtotal</h2></td> 
                                    <td><h2 id=valor> {{total}}</h2></td>
                                </tr>
                                <tr>
                                    <td><h2 id=subtitulo>IVA</h2> </td>
                                    <td><h2 id=valor> {{total}}</h2></td>
                                </tr>
                                <tr>
                                    <td><h2 id=total>TOTAL</h2></td> 
                                    <td><h2 id=valor_total> {{total}}</h2></td>
                                </tr>
                            </table>
                            
                            
                            
                        </mat-card-content>
                    </mat-card>
                </div>
                <div id=boton>
                    <button mat-raised-button matStepperNext>Pagar</button>
                </div>
                <div id=boton>
                    <button mat-raised-button matStepperPrevious>Regresar</button>
                </div>
            </form>
        </mat-step>
       

        <mat-step>
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel> Método de pago</ng-template>
                <div id=metodo_pago>



                </div>
                <div id=boton>
                    <button mat-raised-button matStepperNext>Pagar</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>