<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar empresa ...">

    </div>
</div>

<!-- *ngIf="empresas.length==0" -->
<app-empre-estructura *ngIf="termino.length!=0 && !busco" [empresas]="empresas"></app-empre-estructura>

<div *ngIf="termino.length!=0 && busco" class="row animated fast fadeIn">
    <div>
        <h1>Buscar: <small>{{termino.value}}</small></h1>
        <hr>
        <app-empre-estructura [empresas]="empresasE "></app-empre-estructura>
        <!--  <app-empre-estructura *ngFor="let empresa of empresasE; let i=index " [empresa]="empresasE " [index]="empresa.id "></app-empre-estructura> -->
        <div class="col-md-12 " *ngIf="empresasE.length==0 ">
            <div class="alert alert-info " role="alert ">
                No existen resultados con el término: {{termino.value}}
            </div>
        </div>
    </div>

</div>