/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*header {
	width: 100%;
	height: 500px;
  background-image: url("./assets/head1.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}*/
body{
	font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;           
}

header .textos-header{
display: flex;
height: 430 px;
width: 100%;
padding: 100px 5px 0 0;
align-items: center;
justify-content: center;

}
.textos-body{
	padding: 50px 0;
	width: 100%;
	max-width: 300px;
	margin: auto;
	overflow: hidden;
}
.textos-header h1{
	font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;                                            
	font-size: 50px;
	color: #3c3c3c ;
}

.textos-body h2{

	font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;                                            
	font-size: 20px;
	color: #0072CE;

}


.wave{
	position: absolute;
	bottom: 0;
	width: 100%;
}


.styled {
	margin-right: 13px;
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #3c3c3c  ;
    text-shadow: 1px 1px 1px #000;
    border-radius: 8px;
    background-color: #0072CE;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    
    box-shadow: inset #0072CE,
                inset #0072CE;
}

.styled:hover {
    background-color:#3c3c3c;
}


